
.clue {
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
    background-color:#E3A20B;
    padding: 15px;
    margin: 10px;
}

.clue button {
    margin-left: 20px;
}

.clue form {
   display: inline-block;
}

.clue input {
    margin-bottom: 8px;
}

.category {
    font-weight: bold;
    margin-bottom: 8px;
}

.question {
    margin-bottom: 8px;
}

.question  p {
    margin: 0 0 0 10px;
}


.clueList nav {
    display: inline-block;
}

.clueList header {
    margin: 10px 0 0 5px;
}

.clueList header span {
    font-size: x-large;
    margin-right: 25px;
}


.numForm {
    margin: 0px;
    background-color: lightblue;
    padding: 2px 3px 3px 5px;
}

.numForm select {
    margin-left: 7px;
}

.numForm label {
    font-size: smaller;
}


